@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: "lemonmilk";
  src: url("/font/lemonmilk.otf");
}

@font-face {
  font-family: "lemonmilklight";
  src: url("/font/LEMONMILK-Light.otf");
}

@font-face {
  font-family: "lemonmilklightitalic";
  src: url("/font/LEMONMILK-LightItalic.otf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
